<%- include("../../views/partials/user/header") %>
<main class="main">


   <div class="page-header breadcrumb-wrap">
       <div class="container">
           <div class="breadcrumb">
               <a href="/" rel="nofollow">Home</a>
               <span></span> Shop
               <span></span> My Wishlist
           </div>
       </div>
   </div>


   <section class="mt-50 mb-50">
       <div class="container">
           <div class="row">
               <div class="col-12">
                   <div class="table-responsive">
                       <table class="table shopping-summery text-center clean">
                           <thead>
                               <tr class="main-heading">
                                   <th scope="col">Image</th>
                                   <th scope="col">Name</th>
                                   <th scope="col">Price</th>
                                   <th scope="col">Add to Cart</th>
                                   <th scope="col">Remove</th>
                               </tr>
                           </thead>
                           <tbody>
                            <%if(wishlist.length>0){%>
                             <%for(let product of wishlist){%>
                                       <tr>
                                           <td class="image product-thumbnail">
                                               <img style="height: 50px;" src="/<%=product.productImage[0]%>" />
                                           </td>
                                           <td class="product-des product-name">
                                               <h5 class="product-name">
                                                   <a href="">
                                                      <%= product.productName %>
                                                   </a>
                                               </h5>
                                               <p class="font-xs">
                                                <%= product.category.name%>
                                                   <br />
                                                   <%= product.brand%>
                                            
                                               </p>
                                           </td>
                                           <td class="price" data-title="Price">₹<span>
                                              
                                            <%= product.salePrice%>
                                           </span></td>
                                           <td class="text-center" data-title="Add to Cart">
                                               <a href="#" onclick="" class="btn btn-sm">Add to Cart</a>
                                           </td>
                                           <td class="action" data-title="Remove">
                                               <button class="btn btn-sm" onclick="removeFromWishList('<%=product._id%>')">
                                                   <i class="fi-rs-trash">remove</i>
                                               </button>
                                           </td>
                                       </tr>
                                       <%}%>
                                       <%}else{%>
                                   <tr>
                                       <td colspan="5" class="text-center">
                                           <p class="lead mb-4">No items found in Wishlist</p>
                                       </td>
                                   </tr>
                                   <%}%>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
       </div>
   </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<%- include("../../views/partials/user/footer") %>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<script>
   async function removeFromWishList(productId) {
    Swal.fire({
        title: "Are you sure?",
        text: "Do you really want to remove this item from your wishlist?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, remove it!",
        cancelButtonText: "Cancel"
    }).then(async (result) => {
        if (result.isConfirmed) {
            try {
                const res = await axios.delete("/removeFromWishList", { data: { productId } });

                if (res.data.status) {
                    Swal.fire({
                        title: "Removed!",
                        text: res.data.message,
                        icon: "success",
                        timer: 2000
                    }).then(() => {
                        window.location.reload(); // Reload page after deletion
                    });
                } else {
                    Swal.fire({
                        title: "Not in wishlist",
                        text: res.data.message,
                        icon: "info",
                        timer: 2000
                    });
                }
            } catch (error) {
                Swal.fire({
                    title: "Error",
                    text: "There was an error removing the product from your wishlist",
                    icon: "error",
                    timer: 2000
                });
            }
        }
    });
}

</script>
